@import url('https://fonts.googleapis.com/css?family=Sarabun');
#NavBar-Content{
    height: 20vh;
    width: 100%;
    background-color: white; 
    color:black;
    margin-bottom: 5%;
    font-family: 'Sarabun', sans-serif;
}